@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap");

body {
	font-family: "Source Sans Pro", sans-serif !important;
	color: #222;
	background: #fff;
	font: 100% system-ui;
}

#main-container {
	width: 50%;
	margin: auto;
}

.bn3 {
	display: inline-block;
	padding: 0.5em 1.7em;
	margin: 0 0.1em 0.1em 0;
	border: 0.16em solid rgb(0, 0, 0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.253);
	text-align: center;
	transition: all 0.2s;

	margin-top: 2em;
}

.bn3:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
}

a {
	color: #0033cc;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background: #121212;
	}

	body a {
		color: #809fff;
	}

	.bn3 {
		border: 0.16em solid rgb(255, 255, 255);
		color: #ffffff;
		text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
	}

	.bn3:hover {
		color: black;
		background-color: rgb(255, 255, 255);
	}
}
